<!DOCTYPE html>
<html>

<head>
    <title>BookMeLocal</title>
    <!-- Include any global CSS files or meta tags here -->
    {{{additionalStyles}}} <!-- Placeholder for additional styles -->
</head>

<body>
    {{{body}}} <!-- Main content of the page -->

    <!-- You can include global scripts here -->
    {{{additionalScripts}}} <!-- Placeholder for additional scripts -->




</body>

</html>