/* Reset some basic elements for consistent styling */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d1e6f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Add a box-shadow for depth */
.navbar {
    box-shadow: 0 4px 6px -1px rgba(243, 231, 231, 0.1);
}

.navbar-brand:hover {
    transform: scale(1.05);
    /* Slightly enlarges the logo on hover */
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.navbar-brand {
    color: #afd6f5 !important;
    /* Ensures white color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Adds a shadow for depth */
}


/* Change the navbar-toggler icon color for better visibility */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'><path d='M0 6h30v4H0zm0 7h30v4H0zm0 7h30v4H0z'/></svg>");
}

.navbar-nav .nav-link {
    color: #afd6f5 !important;
    /* Ensuring text is white */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #0d77e1 !important;
    /* A lighter shade on hover/focus */
    text-decoration: none;
    /* Removes underline */
}



/* Card Styling for Blog Posts */
.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #007bff;
}

.card-text {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-5px);
    /* Slight lift */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Increased shadow for depth */
    transition: all 0.3s ease-out;
    /* Smooth transition */
}



.text-muted {
    font-size: 0.85rem;
    margin-bottom: 15px;
}

/* Button Styling */
.btn {
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #545b62;
}




.text-muted {
    color: #6c757d;
}

.card-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.submit-comment textarea {
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 12px;
}

.comment {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.no-comments {
    padding-left: 25px;
    margin-top: -10px;
    color: #6c757d;
}