body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn.register-btn:hover {
    background-color: #218838;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}



.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.btn {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    /* Ensure buttons are block-level for full-width */
    margin-bottom: 10px;
    /* Add space between buttons */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.btn:hover {
    opacity: 0.9;
    /* Slight transparency effect on hover for all buttons */
}

.login-btn {
    background-color: #007bff;
}

.login-btn:hover {
    background-color: #0069d9;
}

.register-btn {
    background-color: #28a745;
}

.register-btn:hover {
    background-color: #218838;
}


.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.register-container,
.home-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    /* Add margin for spacing from viewport edges */
}

@media (max-width: 768px) {

    .register-container,
    .home-container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        /* Adjust based on preference */
    }

    .btn {
        padding: 8px;
        font-size: 0.9rem;
        /* Adjust based on preference */
    }
}